@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
:root {
    /* colors */
    --Dark-Blue : hsl(240, 38%, 20%) ;
    --Grayish-Blue : hsla(240, 18%, 77%, 0.191) ;
    
    /* typography */
    --font-size : 32px ;
    --font-inter :'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: var(--font-size);
    font-family: var(--font-inter);
    background-color: #ffffff;
    overflow: hidden;
   
}

.Person {
 
    height: 100vh;
    display: grid;
    grid-template-columns:60% 50%;
    width: 90%;
    margin-left: 8%;
    & .Person_info {
        margin-top: 17%;
        margin-left: 10%;
        grid-template-rows: 10% 10% auto ;
        & > img {
            padding-left: 14%;
            position: relative;
            top: 6%;
        }

        & > p {
            font-size: 2.3rem;
            font-weight: 300;
            width: 100% ;
        }
        & > p::before {
            content: open-quote;
        }
        & > p::after {
            content: close-quote;
        }

        & .Person_job {
            
            display: flex;
            padding-top: 25px;
            & :nth-child(1){
                color: var(--Dark-Blue);
                font-weight: 700;
                font-size: 1.3rem;
                padding-right: 15px ;
            }
            & :nth-child(2){
                color: grey;
                font-weight: 300;
                font-size: 1.3rem;
            }
        }
    }

    & .Person_Img {
        width: 35%;
        display: grid;
        grid-template-rows: 7% auto; 
        padding-right: 20%;
        
        & .shape {
            margin-top: 20%;
            transform-origin: center;
            z-index: -1;
            max-width: 100%;
            
        }
        & .pic {
            transform: scale(0.8);
            box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 29px 0px;
            border-radius: 8px;
        }

        & .prev_next_icon {
            position: absolute;
            top: 544px;
            padding: 15px 25px;
            display: flex;
            margin-left: 100px;
            background-color: #ffffff;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            box-shadow: rgba(100, 100, 111, 0.2) 0px 10px 29px 0px;
            border-radius: 20px;
            & img {
                cursor: pointer;
            }
        }
        
    }
    
}
#bottom_img {
    position:absolute;
    bottom: 0%;
    z-index: -1;
    max-width: 100%;
    
}

@media (max-width : 800px) {
    
    .Person {
        margin-left: 0px;
        height: 100vh;
        display: flex;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center; 

        & > .Person_info {
            max-width: 443px;
            position: absolute;
            bottom: 10%;
            margin-left: 10%;
            flex-direction: column;
            display: flex;
            justify-items: center;
            align-items: center;
            min-width: 400px;
            & > img {
                position: absolute;
                top: -26px;
                width: 68px;
                padding-left: 0px;
            }
            & > p {
                
                color: var(--Dark-Blue);
                line-height: 1.3;
                padding: 0px 30px;
                text-align: center;
                width: 90%;
                font-size: 1.4rem;
            }
            & > .Person_job {
                flex-direction: column;
                text-align: center;
                & > .p1 {
                    font-weight: bold;
                    font-size: 20px;
                }
                & > .p2 {
                    font-size: 16px;
                }
            }
        }

        & > .Person_Img {
    

            & > .pic {
                border-radius: 3px;
                position: absolute;
                bottom: 57%;
                left: 15%;
                width: 300px;
            }
            & > .shape {
                position: absolute;
                bottom: 55%;
                left: 5%;
                width: 387px;
            }
            & > .prev_next_icon {
                position: absolute;
                top: 40%;
                border-radius: 25px;
                padding: 10px 20px;
                background-color: #ffffff;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 20px;
                
                border: 1px solid;
                & > #img_next, & > #img_prev {
                    width: 10px;
                }
            }
        }
    }
    #bottom_img {
        position: absolute;
        bottom: 0%;
        max-width: 100%;
    }
}